# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.env/
.env*/  # dotenv files (e.g., .env.dev)
.venv/

# Poetry
poetry.lock

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test / coverage files
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy / Pyright / Pyre
.mypy_cache/
.dmypy.json
.pyre/

# Pytest cache
.pytest_cache/

# IDE / Editor stuff
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db
